
<nav class="navbar navbar-light  bg-primary text-white">
  <div class="container">
    <a class="navbar-brand" href="/">
      <h1  style="color:cornsilk">SKSSF AMAPPOYIL</h1>
    </a>
  </div>
</nav>





