<div class="container  mt-5">
    <h4 style="color: rgb(15, 14, 85);font-size: 50px;"  class="text-center">BLOOD</h4>
</div>

<div class="container">
    <a href="/donate" class="btn btn-danger ml-auto" style="float: right">Donate +</a>
</div>
<section>
    <div class="mt-5">
        <div style=";" class="container  mt-5">
            <div class="row">

                {{#each grups}}
                <div class="col-md-3 mt-5" style=" align-items: center; justify-content: center; display: flex;" onclick="location.href='/blood-grupe/{{this.grupe}}';" >
                    
                    <div style="width: 15rem; height: 10rem; border-radius: 15px; background-color: rgb(194, 0, 0); padding-top: 3rem;text-align: center; " href="/blood-grupe/{{this.grupe}}">
                        <a href="/blood-grupe/{{this.grupe}}" style=" color: white; font-size: 30px;">{{this.grupe}}</a>
                    </div>

                </div>
                {{/each}}

                

                

            </div>
        </div>
    </div>
    </div>

</section>