<div class="container  mt-5">
    <h2 style="color: rgb(156, 17, 17);font-size: 50px;"  class="text-center">BLOOD</h2>
</div>

<div class="container">
    <a href="/donate" class="btn btn-danger ml-auto" style="float: right">Donate +</a>
</div>
<section>
    <div class="mt-5">
        <div class="container col-7 mt-5">
            <div class="row">

                {{#each grups}}
                <div class="col-md-3 mt-5" style="margin: 30px;" onclick="location.href='/blood-grupe/{{this.grupe}}';" >
                    
                    <div style="width: 18rem; height: 15rem; background-color: red; padding-top: 6rem;text-align: center; " href="/blood-grupe/{{this.grupe}}">
                        <a href="/blood-grupe/{{this.grupe}}" style=" color: white; font-size: 30px;">{{this.grupe}}</a>
                    </div>

                </div>
                {{/each}}

                

                

            </div>
        </div>
    </div>
    </div>

</section>