{{!-- 

  <section >
    <div class="row">

    <div class="container cl-sm">
        <div class="card" style="width: 18rem;">
            <img src="https://cdn.dribbble.com/users/2620348/screenshots/10495041/shot-cropped-1582915032757.png" class="card-img-top" alt="...">
            <div class="card-body">
                
                <a href="/blood" class="btn btn-primary">Add To Cart</a>
            </div>
        </div>
    </div>


      

    </div>
    
</section> --}}

<section>
    <div class="container mt-5">
    <div class="row">
    
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://cdn.dribbble.com/users/2620348/screenshots/10495041/shot-cropped-1582915032757.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Blood</h5>
                <p class="card-text">{{this.discription}}</p>
                <a href="/blood" class="btn btn-primary">Click hear >>></a>
            </div>
        </div>
    </div>

    </div>
    </div>

    
</section>


  


